<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="css/lib/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/lib/bootstrap-theme.min.css">-->
</head>
<body>
<a href="#/">Home</a>
<a href="#/posts">Posts</a>
<ng-view></ng-view>





<!--<div class="container" ng-controller="AppCtrl">-->
    <!--<h1>Contact List App</h1>-->

    <!--<table class="table">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<td>Name</td>-->
                <!--<td>Email</td>-->
                <!--<td>Number</td>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr ng-repeat="contact in contactlist">-->
                <!--<td>{{contact.name}}</td>-->
                <!--<td>{{contact.email}}</td>-->
                <!--<td>{{contact.number}}</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->


<!--<input type="text" ng-model="test">-->

<!--{{test}}-->

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/lodash.js"></script>
<!--<script src="js/controllers/controller.js"></script>-->
<script src="js/main.js"></script>
</body>
</html>